* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Roboto Mono', Consolas, 'Liberation Mono', Menlo, Courier,
    monospace;
  font-size: 13px;
  font-weight: 400;
  background: #212335;
  color: #828799;
}

.container {
  margin: 60px;
  width: 90%;
  max-width: 600px;
}

input {
  font-family: 'Roboto Mono', Consolas, 'Liberation Mono', Menlo, Courier,
    monospace;
  font-size: 13px;
  font-weight: 400;
  color: #fff;
  outline: none;
  border: none;
  background: #2a2f42;
  border-radius: 5px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

input:focus {
  background: #34394d;
  color: #00ffaa;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.grid-values {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.grid-input {
  margin: 0 30px 30px 0;
  flex: 1;
}

.grid-input input {
  width: 100%;
}
.grid-input:last-child {
  margin: 0 0 30px 0;
}

label {
  font-weight: 400;
  margin-bottom: 10px;
  display: block;
}

.grid-calculated {
  border: 2px solid #2a2f42;
  border-radius: 5px;
  height: 60px;
  margin: 0 30px 30px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-basis: 50%;
}

.column-width-value {
  color: #00ffaa;
}

.grid-calculated:last-child {
  margin: 0 0 30px 0;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.column {
  height: 90px;
  background: #2a2f42;
  border-radius: 3px;
}

.gutter {
  max-width: 20px;
}

.not-exact {
  font-weight: 400;
  font-style: italic;
  color: #ff5967;
}
