* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Roboto Mono', Consolas, 'Liberation Mono', Menlo, Courier,
    monospace;
  font-size: 13px;
  font-weight: 400;
}

input {
  font-family: 'Roboto Mono', Consolas, 'Liberation Mono', Menlo, Courier,
    monospace;
  font-size: 13px;
  font-weight: 400;
  color: #fff;
  outline: none;
  border: none;
  background: #2a2f42;
  border-radius: 5px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container {
  padding: 40px;
}

.grid-input {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 6px;
  display: block;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.column {
  height: 40px;
  background: #ccc;
}

.gutter {
  max-width: 20px;
}

.not-exact {
  color: red;
}
